<div class="row p-3 mb-3">
  <div class="col-6">
    <h1 class="mb-4">直接臨櫃詢問</h1>
    <ul class="informations">
      <li>地址：台南市官田區工業路40號</li>
      <li>電話：(06) 698-5945</li>
    </ul>
  </div>
  <div class="col-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12452.883743818295!2d120.31797694807466!3d23.214174081528274!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e87f572beb163%3A0x191f52e398135526!2z5Yue5YuV6YOo5Yue5YuV5Yqb55m85bGV572y6Zuy5ZiJ5Y2X5YiG572y!5e0!3m2!1szh-TW!2stw!4v1695070759107!5m2!1szh-TW!2stw"
      style="border:0;" allowfullscreen="" loading="lazy" class="address-map"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>
