<div class="row" class="p-4 pt-2 mb-3">
  <div class="col-12">
    <h1>成為團隊的一員</h1>
    <hr />
    <p>
      如果覺得玩遊戲已經無法滿足你的慾望，亦或者是遊戲玩出心得，想將自己的想法訴諸於行動製作成遊戲，那你就已經達到我們團隊成員的最低要求了！
      <br /><br />
      一個遊戲從企劃階段到製作階段，在到完成釋出，這中間得經過很多次的開會討論和各組人馬的分工才能完成，而人手越多，經過這些程序所需的時間也會跟著縮短，所以遊戲製作從來不缺新血加入。因此如果你有意想製作遊戲，歡迎一起加入我們的行列，下面列出的是目前團隊正在招募的職位，有興趣的人不要猶豫，按下「我有興趣！」的按鈕就對了。
    </p>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        全職性質
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div class="card">
              <img src="assets/images/recruit/scanario.jpg" class="card-img-top" alt="劇本編寫">
              <div class="card-body">
                <h4>劇本編寫</h4>
                <p>
                  構思整個遊戲的架構、世界觀及劇情故事，並將其寫成遊戲的劇本供玩家閱讀。
                </p>
                <div class="d-grid gap-2">
                  <button type="button" class="btn btn-primary">我有興趣！</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="assets/images/recruit/drawing.jpg" class="card-img-top" alt="平面設計師">
              <div class="card-body">
                <h4>平面設計師</h4>
                <p>
                  以世界觀的設定繪製所需的背景、角色、道具等，並協助立體建模繪製基礎的平面圖。
                </p>
                <div class="d-grid gap-2">
                  <button type="button" class="btn btn-primary">我有興趣！</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="assets/images/recruit/modeling.jpg" class="card-img-top" alt="立體建模師">
              <div class="card-body">
                <h4>立體建模師</h4>
                <p>
                  利用 3D 軟體將平面的設計建成 3D 模型，並協助程式設計師完成攝影機、角色動作調校等。
                </p>
                <div class="d-grid gap-2">
                  <button type="button" class="btn btn-primary">我有興趣！</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="assets/images/recruit/coder.jpg" class="card-img-top" alt="程式設計師">
              <div class="card-body">
                <h4>程式設計師</h4>
                <p>
                  能利用遊戲引擎將規劃的遊戲規則、角色、介面等以程式的方式結合為一款遊戲。
                </p>
                <div class="d-grid gap-2">
                  <button type="button" class="btn btn-primary">我有興趣！</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row p-4 pt-2 mb-3">
  <div class="col-12">
    <h1>想成為團隊的一員，但…</h1>
    <hr />
    <p>
      沒關係，你仍然可以與我們一同創造出穩定的遊戲，下面列出一些非正職類的項目供你參考！
    </p>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        打工性質
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div class="card">
              <img src="assets/images/recruit/tester.jpg" class="card-img-top" alt="遊戲測試員">
              <div class="card-body">
                <h4>遊戲測試員</h4>
                <p>
                  能絞盡腦汁並用盡各種手段觸發遊戲內可能存在的臭蟲或錯誤。
                </p>
                <div class="d-grid gap-2">
                  <button type="button" class="btn btn-primary">我有興趣！</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
