<div class="row p-2 pt-0 pb-0">
  <div class="col-12">
    <h1 class="mb-4">關於洛嬉遊戲</h1>
    <h4 class="sub-title">團隊起源</h4>
    <p>我們是一支新創的遊戲團隊，成員都對製作遊戲富含熱情，我們的目標是製作出「有創意」、「玩自由」及「能嬉笑」的遊戲。</p>
  </div>
  <div class="col-6 mb-5">
    <div class="card about-img">
      <img src="assets/images/about.jpg" class="card-img-top" alt="About">
      <div class="card-body">
        <p class="card-text">儘管程式碼有上萬行，只要玩家盡興就好</p>
      </div>
    </div>
  </div>
  <div class="col-6 mb-5">
    <h3 class="sub-title">遊戲製作宗旨</h3>
    <p class="paragraph-agileinfo">做為新創的遊戲團隊，我們為了向各位玩家呈上最有趣的內容，我們在製作上堅持：</p>
    <ul class="about-list">
      <li><i class="bi bi-check-square"></i> 劇情完整及可讀性</li>
      <li><i class="bi bi-check-square"></i> 美術衝擊性</li>
      <li><i class="bi bi-check-square"></i> 遊戲可玩性</li>
      <li><i class="bi bi-check-square"></i> 執行順暢性</li>
      <li><i class="bi bi-check-square"></i> 隱藏要素</li>
    </ul>
  </div>
</div>
<div class="row p-2">
  <div class="col-4 about-pa">
    <div class="card text-bg-dark">
      <img src="assets/images/about/m1.jpg" class="card-img" alt="熱情四溢">
      <div class="card-img-overlay">
        <h5 class="card-title">熱情四溢</h5>
        <p class="card-text">我們是由一群對玩及製作遊戲很有熱情的人所組成的團隊，為的就是製作出能讓玩家驚奇且享受其中的遊戲。</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="col-4 about-pa">
    <div class="card text-bg-dark">
      <img src="assets/images/about/m2.jpg" class="card-img" alt="公平遊戲">
      <div class="card-img-overlay">
        <h5 class="card-title">公平遊戲</h5>
        <p class="card-text">玩家在玩遊戲時最怕的就是遇到作弊玩家，所以我們要盡我們全力避免作弊的發生，並時常修補可能的漏洞。</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="col-4 about-pa">
    <div class="card text-bg-dark">
      <img src="assets/images/about/m3.jpg" class="card-img" alt="競爭向上">
      <div class="card-img-overlay">
        <h5 class="card-title">競爭向上</h5>
        <p class="card-text">儘管已經正在製作遊戲了，我們仍督促自己繼續努力，讓團隊成員各方面的能力都可以追上潮流。</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="row p-2">
  <h1 class="mb-4">團隊成員</h1>
  <div class="col-6 about-members">
    <figure class="text-start">
      <blockquote class="blockquote">
        <p>負責遊戲故事及整體架構的撰寫，完成一個完整的故事架構並將其寫成完整的故事呈現給玩家。</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        劇本編寫
      </figcaption>
    </figure>
    <figure class="text-end">
      <blockquote class="blockquote">
        <p>將遊戲的相關機制與條件編寫成一系列模組、設計攝影機路徑等，並將其套用到相對應的遊戲上。</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        程式設計
      </figcaption>
    </figure>
    <figure class="text-start">
      <blockquote class="blockquote">
        <p>將世界觀及角色設定轉為平面美術，提供 3D 建模相關的基礎設計。</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        平面美術設計
      </figcaption>
    </figure>
    <figure class="text-end">
      <blockquote class="blockquote">
        <p>為平面美術建立 3D 模型，並套用於遊戲中。</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        立體建模設計
      </figcaption>
    </figure>
  </div>
  <div class="col-6">
    <div class="recruit-block">
      <div class="colored-grid">
        <img src="assets/images/about/writer.jpg" class="member-grid-img" alt="劇本編寫">
        <h4 class="mt-2">劇本編寫</h4>
      </div>
      <div class="colored-grid">
        <img src="assets/images/about/programmer.jpg" class="member-grid-img" alt="劇本編寫">
        <h4 class="mt-2">程式設計</h4>
      </div>
      <div class="colored-grid">
        <img src="assets/images/about/art.jpg" class="member-grid-img" alt="劇本編寫">
        <h4 class="mt-2">平面美術設計</h4>
      </div>
      <div class="colored-grid">
        <img src="assets/images/about/modeling.jpg" class="member-grid-img" alt="劇本編寫">
        <h4 class="mt-2">立體建模設計</h4>
      </div>
    </div>
  </div>
</div>
