<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-3">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/carousel/carousel-1.jpg" class="d-block w-100" alt="carousel-1">
            <div class="carousel-caption d-none d-md-block">
              <h5>輪播一</h5>
            </div>
          </div>
          <div class="carousel-item active">
            <img src="/assets/images/carousel/carousel-2.jpg" class="d-block w-100" alt="carousel-2">
            <div class="carousel-caption d-none d-md-block">
              <h5>輪播二</h5>
            </div>
          </div>
          <div class="carousel-item active">
            <img src="/assets/images/carousel/carousel-3.jpg" class="d-block w-100" alt="carousel-3">
            <div class="carousel-caption d-none d-md-block">
              <h5>輪播三</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-12">
      <h1 class="big-title">News</h1>
      <table class="table news-table">
        <tbody>
          <tr>
            <td>2022-07-31</td>
            <td>測試公告2</td>
          </tr>
          <tr>
            <td>2022-07-30</td>
            <td>測試公告1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
