<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-5">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/carousel/carousel-1.jpg" class="d-block w-100" alt="carousel-1">
            <div class="carousel-caption d-none d-md-block">
              <h5>輪播一</h5>
            </div>
          </div>
          <div class="carousel-item active">
            <img src="assets/images/carousel/carousel-2.jpg" class="d-block w-100" alt="carousel-2">
            <div class="carousel-caption d-none d-md-block">
              <h5>輪播二</h5>
            </div>
          </div>
          <div class="carousel-item active">
            <img src="assets/images/carousel/carousel-3.jpg" class="d-block w-100" alt="carousel-3">
            <div class="carousel-caption d-none d-md-block">
              <h5>輪播三</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-12 mb-5">
      <h1 class="text-center site-title">洛嬉遊戲&nbsp;&nbsp;L.S. Games</h1>
    </div>
    <div class="col-12 mb-5">
      <h1 class="big-title">
        About
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
          class="bi bi-chevron-double-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
          <path fill-rule="evenodd"
            d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </h1>
      <!-- <h3 class="subheading-wthree">關於我們 About L.S. Games</h3> -->
      <p class="paragraph-agileinfo">
        我們是一支新創的遊戲團隊，成員都對製作遊戲富含熱情，我們的目標是製作出「有創意」、「玩自由」及「能嬉笑」的遊戲。
      </p>
    </div>
    <div class="col-6 mb-5">
      <div class="card about-img">
        <img src="assets/images/about.jpg" class="card-img-top" alt="About">
        <div class="card-body">
          <p class="card-text">儘管程式碼有上萬行，只要玩家盡興就好</p>
        </div>
      </div>
    </div>
    <div class="col-6 mb-5">
      <h3 class="subheading-wthree">遊戲製作宗旨</h3>
      <p class="paragraph-agileinfo">做為新創的遊戲團隊，我們為了向各位玩家呈上最有趣的內容，我們在製作上堅持：</p>
      <ul>
        <li><i class="far fa-check-square"></i> 劇情完整及可讀性</li>
        <li><i class="far fa-check-square"></i> 美術衝擊性</li>
        <li><i class="far fa-check-square"></i> 遊戲可玩性</li>
        <li><i class="far fa-check-square"></i> 執行順暢性</li>
        <li><i class="far fa-check-square"></i> 隱藏要素</li>
      </ul>
    </div>
    <div class="col-12 mb-5">
      <h1 class="big-title">
        News
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
          class="bi bi-chevron-double-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
          <path fill-rule="evenodd"
            d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </h1>
      <table class="table news-table">
        <tbody>
          <tr *ngFor="let news of newsList">
            <td>{{ news.createdAt | date: "yyyy-MM-dd" }}</td>
            <td><span class="badge bg-primary">{{ getNewsTypeById(news.newsTypeId) }}</span></td>
            <td>
              <a [routerLink]="getNewsLink(news.newsId)"
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{
                news.newsTitle }}</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn btn-success" type="button" (click)="navigate('news')">檢視更多最新消息</button>
      </div>
    </div>
    <div class="col-12">
      <h1 class="big-title">
        Recruit
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
          class="bi bi-chevron-double-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
          <path fill-rule="evenodd"
            d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </h1>
    </div>
    <div class="col-6 mb-5">
      <p class="paragraph-agileinfo">
        只要您有以下條件，都歡迎加入我們的製作團隊，一起步上遊戲製作人生！
      </p>
      <div class="recruit-block">
        <div class="colored-grid">
          <h3>不做遊戲就是廢人</h3>
          <ul>
            <li>決心堅定</li>
            <li>非遊戲不可</li>
          </ul>
        </div>
        <div class="colored-grid">
          <h3>覺得沒人做的比你好</h3>
          <ul>
            <li>能力堅強</li>
            <li>有獨一無二的構想</li>
          </ul>
        </div>
        <div class="colored-grid">
          <h3>能把自己的 BUG 把玩於掌間</h3>
          <ul>
            <li>當 BUG 不再是 BUG</li>
            <li>DEBUG 隨心應手</li>
          </ul>
        </div>
        <div class="colored-grid">
          <h3>越新鮮的題材越有興趣</h3>
          <ul>
            <li>勇於嘗鮮</li>
            <li>不想落後於潮流</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6 mb-5">
      <img src="assets/images/services2.jpg" alt="Recruit" class="recruit-img">
    </div>
  </div>
</div>
