<nav class="navbar sticky-top navbar-expand-lg bg-light mb-3">
  <div class="container-fluid">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <img src="/assets/images/logo.png" alt="洛嬉遊戲" class="d-inline-block align-text-top logo">
          <strong>洛嬉遊戲</strong>
        </a>
      </div>
    </nav>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a class="nav-link active top-menu" aria-current="page" routerLink="/news">NEWS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/products" class="nav-link active top-menu" aria-current="page">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/goods" class="nav-link active top-menu" aria-current="page">GOODS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/forums" class="nav-link active top-menu" aria-current="page">FORUMS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link top-menu dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            LINKS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/about">關於團隊</a></li>
            <li><a class="dropdown-item" routerLink="/recruit">加入我們</a></li>
            <li><a class="dropdown-item" routerLink="/faq">常見問題</a></li>
            <li><a class="dropdown-item" routerLink="/contact">聯絡我們</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
