<div class="container">
  <div class="row">
    <!-- 尚未準備完成 -->
    <div class="col-12" *ngIf="!getLoaded()">
      <div class="card">
        <div class="card-header fw-bold h4">系統訊息</div>
        <div class="card-body text-center h3">
          <span class="spinner-grow spinner-grow" role="status" aria-hidden="true"></span>&nbsp;
          <span class="card-title fw-bold h2">取得必要資料中 ...</span>
        </div>
      </div>
    </div>
    <!-- 準備完成 -->
    <div class="col-12" *ngIf="getLoaded()">
      <div class="mb-3">
        <label class="form-label">回覆標題</label>
        <input
          type="text"
          class="form-control"
          placeholder="請輸入文章標題，此為必填項"
          [(ngModel)]="replyModel.title"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">回覆內容</label>
        <ckeditor [(ngModel)]="replyModel.content"></ckeditor>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-center">
        <button type="button" class="btn btn-success" (click)="submitReply()">送出</button>
        <button type="button" class="btn btn-info" (click)="backToPost()">取消</button>
      </div>
    </div>
  </div>
</div>
