<div class="container-fluid">
  <div class="row">
    <div class="col-12 row">
      <div class="braedcum col-10 mb-2 h5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <i class="bi bi-flag-fill bc-icon"></i>&nbsp;
            <li class="breadcrumb-item" [class.active]="isLastBreadcrumb(i)"
              *ngFor="let breadcrumb of breadcrumbs; let i = index">
              <a *ngIf="!isLastBreadcrumb(i)" [routerLink]="breadcrumb.uri">{{ breadcrumb.title }}</a>
              <span *ngIf="isLastBreadcrumb(i)">{{ breadcrumb.title }}</span>
            </li>
          </ol>
        </nav>
      </div>
      <div class="user col-2 mb-2 text-end">
        <button type="button" class="btn btn-info" *ngIf="statuses.logining">
          <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="statuses.logining"></span>
          請稍候...
        </button>
        <div class="dropdown">
          <button *ngIf="isLoginBtnShow()" class="btn btn-info" type="button"
            (click)="operationModal('memberModal', 'open')">
            登入
          </button>
          <div *ngIf="isLoggedin()">
            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" id="user-dropdown"
              aria-expanded="false">
              {{ user.username }}
            </button>
            <ul class="dropdown-menu text-center">
              <li>
                <a class="dropdown-item">
                  <span class="badge text-bg-secondary">0</span> 則通知
                </a>
              </li>
              <li><a class="dropdown-item">確認訂單</a></li>
              <li (click)="operationModal('userSettings', 'open')"><a class="dropdown-item">使用者設定</a></li>
              <li *ngIf="showAdministratorMenu()">
                <a
                  class="dropdown-item"
                  (click)="navigateToBackStage()"
                  target="_blank"
                >
                  後臺管理
                </a>
              </li>
              <li (click)="operationModal('signOutModal', 'open')"><a class="dropdown-item">登出</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<!-- 會員視窗 -->
<div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-sign-in-tab" data-bs-toggle="pill" data-bs-target="#pills-sign-in"
              type="button" role="tab" aria-controls="pills-sign-in" aria-selected="true">登入</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-sign-up-tab" data-bs-toggle="pill" data-bs-target="#pills-sign-up"
              type="button" role="tab" aria-controls="pills-sign-up" aria-selected="true">註冊</a>
          </li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="pills-sign-in" role="tabpanel" aria-labelledby="pills-sign-in-tab"
            tabindex="0">
            <div *ngIf="signInError.length > 0" class="alert alert-danger fade show" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                <path
                  d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>&nbsp;
              <strong>登入失敗</strong>&nbsp;&nbsp;{{ signInError }}
            </div>
            <div class="mb-3">
              <label for="account" class="form-label">帳號</label>
              <input type="string" [(ngModel)]="signIn.account" class="form-control" id="account"
                placeholder="請輸入您的帳號或電子郵件地址" autocomplete="on">
            </div>
            <div class="mb-3">
              <label for="signin-password" class="form-label">密碼</label>
              <div class="input-group mb-3">
                <input [type]="getPasswordInputType('sign-in')" [(ngModel)]="signIn.password" class="form-control"
                  placeholder="請輸入您的密碼" id="signin-password" autocomplete="off">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                  (click)="togglePWVisible('sign-in')">
                  <i [class]="getEyeClass('sign-in')"></i>
                </button>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" (click)="fireSignIn()" [disabled]="statuses.logining">
                <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="statuses.logining"></span>
                {{ statuses.logining ? "登入中..." : "登入" }}
              </button>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-sign-up" role="tabpanel" aria-labelledby="pills-sign-up-tab"
            tabindex="0">
            <div *ngIf="signUpError.length > 0" class="alert alert-danger fade show" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                <path
                  d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>&nbsp;
              <strong>註冊失敗</strong>&nbsp;&nbsp;{{ signUpError }}
            </div>
            <div class="mb-3">
              <label for="account" class="form-label">帳號</label>
              <input type="string" [(ngModel)]="signUp.account" class="form-control" id="account" placeholder="請輸入帳號">
            </div>
            <div class="mb-3">
              <label for="account" class="form-label">電子郵件地址</label>
              <input type="string" [(ngModel)]="signUp.email" class="form-control" id="account" placeholder="請輸入電子郵件地址">
            </div>
            <div class="mb-3">
              <label for="account" class="form-label">暱稱</label>
              <input type="string" [(ngModel)]="signUp.username" class="form-control" id="account" placeholder="請輸入暱稱">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">密碼</label>
              <div class="input-group mb-3">
                <input [type]="getPasswordInputType('sign-up')" [(ngModel)]="signUp.password" class="form-control"
                  id="password" placeholder="請輸入密碼">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                  (click)="togglePWVisible('sign-up')">
                  <i [class]="getEyeClass('sign-up')"></i>
                </button>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">確認密碼</label>
              <div class="input-group mb-3">
                <input [type]="getPasswordInputType('sign-up-confirm')" [(ngModel)]="signUp.password_confirmation"
                  class="form-control" id="password" placeholder="請再次輸入密碼">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                  (click)="togglePWVisible('sign-up-confirm')">
                  <i [class]="getEyeClass('sign-up-confirm')"></i>
                </button>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" (click)="fireSignUp()" [disabled]="statuses.signUping">
                <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="statuses.signUping"></span>
                {{ statuses.signUping ? '註冊並登入中 ...' : '註冊' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 登出確認視窗 -->
<div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="signOutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" *ngIf="user !== undefined">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="signOutModalLabel">系統確認</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        您確定要登出嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" (click)="fireSignOut()" [disabled]="!statuses.loaded">
          <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="!statuses.loaded"></span>
          {{ statuses.loaded ? "登出" : "登出中..." }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 使用者設定視窗 -->
<div class="modal fade" id="userSettings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" *ngIf="user !== undefined">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row w-100 fs-5 h1">
          <div class="col-6 text-start" id="userSettingsLabel">使用者設定</div>
          <div class="col-6 text-end">{{ datetime | date: "yyyy/MM/dd hh:mm:ss" }}</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="mb-2">
              <label for="static-username" class="col-form-label">使用者帳號</label>
              <input type="text" readonly class="form-control-plaintext" id="static-username"
                [value]="modifyUser.account">
            </div>
            <div class="mb-2">
              <label for="static-roles" class="col-form-label">使用者權限</label>
              <input type="text" readonly class="form-control-plaintext" id="static-roles" [value]="getRoles()">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2">
              <div class="mb-3">
                <label for="virtual-image" class="form-label">虛擬形象</label><br />
                <img [src]="getImageUrl()" class="virtual-avator-image img-thumbnail mt-0 mb-2" alt="虛擬形象" />
                <input
                  #virtualAvator
                  class="form-control"
                  type="file"
                  accept="image/*"
                  id="virtual-image"
                  (change)="readImageUrl($event)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label for="user-email" class="con-form-label">使用者名稱</label>
          <input type="text" class="form-control" id="username" placeholder="請輸入使用者名稱"
            [(ngModel)]="modifyUser.username" />
        </div>
        <div class="mb-2">
          <label for="password" class="con-form-label">密碼</label>
          <input type="password" class="form-control" id="password" placeholder="請輸入密碼"
            [(ngModel)]="modifyUser.password" />
        </div>
        <div class="mb-2">
          <label for="password-confirmation" class="con-form-label">確認密碼</label>
          <input type="password" class="form-control" id="password-confirmation" placeholder="請再次輸入密碼"
            [(ngModel)]="modifyUser.password_confirmation" />
        </div>
        <div class="mb-2">
        <label for="user-email" class="con-form-label">電子郵件地址</label>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              id="user-email"
              placeholder="請輸入電子郵件地址"
              aria-label="請輸入電子郵件地址"
              aria-describedby="button-addon2"
              [(ngModel)]="modifyUser.email"
              aria-describedby="email-verified"
            />
            <button class="btn btn-outline-secondary disabled" type="button" id="button-addon2">驗證電子郵件地址</button>
          </div>
          <div id="email-verified" class="form-text" [class]="{'text-success': isEmailVerified()}">
            <svg
              *ngIf="isEmailVerified()"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle"
              viewBox="0 0 16 16"
            >
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
            <svg
              *ngIf="!isEmailVerified()"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-x-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
            </svg>
            {{ getEmailVerifyMessage() }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        <button type="button" class="btn btn-primary" [disabled]="!canFireUpdateUser()" (click)="fireUpdateUser()">
          <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="statuses.updatingUser"></span>
          {{ statuses.updatingUser ? '儲存中 ...' : '儲存' }}
        </button>
      </div>
    </div>
  </div>
</div>
